* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

/*HEADER*/

header {
    background-color: black;
    font-size: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.menuidiomas {
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 0px 90px;
}

select {
    background-color: black;
    color:white;
    font-family: Roboto, 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    margin: 0px 25px 0px 0px;
    border: transparent;
}

.idiomas{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 50;
    align-items: center;
}

.bar-nav {
    background-color: #F0A83E;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-start;
}

.bar-nav img{
    width: 166.38px;
    height: 23px;
    align-self: center;
}

.enlaces{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 50;
    align-items: center;
    height: 100px;
}

.enlaces a{  
    color:white;
    font-family: Roboto, 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-right: 45px;
    padding-left: 5px;
}

/*MIDDLE*/

.banner {
    background: url('../img/bowlbackground.png');
    background-size: cover;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.banner2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 180px;
}

h1 {
    background-color: white;
    width: 400px;
    height: 50px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.boton {
    color: white;
    background-color: #F0A83E;
    border-radius: 5px;
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.boton2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menuprod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h3{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/*PRODUCTOS*/

.productos{
    display: flex;
    justify-content: center;
}

.producto1 {
    background: url('../img/churrasquito.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FBFAF6;
    width: 80px;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #3C2313;
}

.producto2 {
    background: url('../img/comedero.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FBFAF6;
    width: 80px;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #3C2313;
}

.producto3 {
    background: url('../img/Huesito.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FBFAF6;
    width: 80px;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #3C2313;
}

.precios {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #F0A83E;
    height: 19,64px;
}

/*FORMULARIO CONTACTO*/
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 500px;
}

.datos h2{
    font-size: 30px;
    color: #3C2313;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;  
}

.datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 20px;
}

.datos div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.datos input {
    height: 60px;
    background-color: #3C2313;
    color: white;
    width: 600px;
    padding: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    border-radius: 15px;
}

.botones {
    display: flex;
    flex-direction: row;
}

.botones input {
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

#reset {
    background-color: #8A8787;
}

#enviar {
    background-color: #F0A83E;
}

/*SUSCRIPCION*/ 

.suscripcion{
    background: #F0A83E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    height: 60px;
}
.suscripcion p {
    margin-right: 50%;
}

.fa-envelope {
    margin-right: 5px;
}

.boton-suscripcion {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 80;
    align-items: center;
}

.boton-suscripcion input {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
}

#email {
    background: #FFFFFF;
    color: #A0A0A0;
    border-radius: 15px;
    width: 271px;
    height: 34px;
    padding: 10px;
}

#suscribirme {
    background-color: #3C2313;
    color: white;
    width: 70px;
    height: 34px;
    border-radius: 15px;
}

/*FOOTER*/
.infocontacto {
    display: flex;
    justify-content: space-around;
    background-color: #3C2313;
    align-items: center;
}

.footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    line-height: 23,44px;
    height: 200px;
    margin-right: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.datoscontacto{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 10px;
    color:#8A8787;
    line-height: 11,72px;
}
.infocontacto div img {
    width: 166px;
    height: 23px;
}

#derechos {
    background-color: #222222;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}