*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

/*HEADER*/

.descuentos {
    background: #1CD1B0;
    height: 38px;
    font-family: Roboto;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.titulo-home {
    background: #00669F;
    height: 101px;
    color: black;
    font-family: Roboto;
    font-size: 40px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo {
    background: #00669F;
    height: 101px;
    color: black;
    font-family: Roboto;
    font-size: 40px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav{
    flex-grow: 0.98;
}

ul {
    display: flex;
    justify-content: flex-end;
}

ul a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

/*CARDS*/
.cards{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background-color: #F3F3F3;
}

.fondo{
    background: url('../img/fondobatman2.png');
    width: 300px;
    height: 193px;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo {
    background: url('../img/batman.png');
    background-repeat: no-repeat;
    width: 120px;
    height: 118px;
    border-radius: 50%;
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.boton{
    width: 128.78px;
    height: 48.52px;
    background: #00669F;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.boton2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fondo2{
    background: url('../img/fondoharley.png');
    background-position: center;
    background-size: 100%;
    width: 300px;
    height: 193px;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo2 {
    background: url('../img/harley.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 120px;
    height: 118px;
    border-radius: 50%;
}

/*LOGIN*/
h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 72px;
    line-height: 120px;
    align-self: flex-start;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 428px;
    width: 620px;
}

.login div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 620px;
}

.login1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.login input {
    height: 60px;
}

.entrar input {
    background-color: #1CD1B0;
    border-radius: 23.011px;
    font-weight: bold;
    width: 620px;
    font-size: 24px;
}

/*REGISTRO*/

.registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 620px;
}

.registro div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 620px;
}

.registro input {
    height: 60px;
}

.registro select {
    height: 60px;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botones input {
    border-radius: 23.011px;
    font-weight: bold;
    width: 300px;
    font-size: 24px;
    height: 54px;
}

#reset {
    background-color: #888888;
}

#registrar {
    background-color: #1CD1B0;
}
/*CONTACTO*/
.contacto input{
    height: 60px;
}

#comentarios {
    height: 200px;
}
.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 620px;
    width: 620px;
}

.contacto div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 620px;
}

/*FOOTER*/

footer {
    background-color: #00669F;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
